[submodule "1_delpoy_git-github"]
	path = 1_delpoy_git-github
	url = https://github.com/geekpanshi/geekpanshi.github.io.git
[submodule ".deploy_git"]
    path = .deploy_git
    url = https://git.dev.tencent.com/geekpanshi/geekpanshi.git
